:root {
  --bg-color: white;
  --text-color: black;
  --link-color: #007bff;
  --alt-color: #c5050c;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Content *{
  margin-left: 5px;
  margin-right: 5px;
}

.App {
  background-color: var(--bg-color);
  text-align: center;
  height: 100vh;
  width: 99vw;
}


.Titles {
  justify-self: left;
}

.Title {
  position: center;
  text-align: left;
  color: var(--alt-color);
  margin: 0px, 10px, 0px, 10px;
  max-width: 85vw;
}

.subTitle {
  text-align: right;
  color: var(--alt-color);
  margin: 0px, 10px, 10px, 10px;
}

.Head {
  display: flex;  /* Enables horizontal layout */
  gap: 10px; /* Adds spacing between items */
  padding: 10px;
  height: 20vh;
  justify-content: space-between;
}

.Logos {
  display: grid;
  height: 20vh;
  justify-self: end;
}

.Logos * {
  height: 20vh;
}
