* {
    text-align: left;
    overflow: visible;
}

.Home, .Welcome, .Instructions {
    justify-self: left;
    width: 99vw;
}

.Instructions {
    margin-top: 30px;
}

p {
    margin: 0px;
    line-height: 1.2;
}

img {
    max-height: 28.125vw;
    max-width: 50vw;
}

.SlugPhotos {
    display: flex;
    gap: 1rem; /* space between items */
    align-items: flex-start; /* align items to the top */
  }
  
  .slug-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  