 /* Navbar container */
 .navbar {
  width: 100vw;
  background-color: var(--alt-color);
  font-family: Arial;
  display: flex;
  justify-content: baseline;
  padding: 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--alt-color-darker);
}

/* Dropdown content base styling */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;

}

/* Hidden dropdown */
.dropdown-content.hide {
  display: none;
}

/* Visible dropdown */
.dropdown-content.show {
  display: flex;
  flex-direction: column;
}

/* Fix float issue */
.dropdown-content a {
  border: 2px solid black;
  border-bottom: 0px;
  background-color: #c5050c;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8b2e26;
  text-decoration: underline;
}

.navLink {
  padding: 0;
}