.Foot {
    display: flex;  /* Enables horizontal layout */
    gap: 10px; /* Adds spacing between items */
    width: 100vw;
    background-color: #457676;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.Foot div {
    display: grid;
}

.Foot div img {
    justify-self: center;
}

.Foot div .ExtensionLogo {
    padding-left: 0px;
}

.Foot a {
    color: white;
    text-decoration-color: white;
}

.Team * {
    align-content: center;
    align-items: center;
}