:root {
  --bg-color: white;
  --text-color: black;
  --link-color: #007bff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.Title {
  position: center;
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: var(--bg-color);
  text-align: center;
  width: 100%;
}

/* Toggle Button */
.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  background: var(--link-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.theme-toggle:hover {
  background: var(--text-color);
  color: var(--bg-color);
}
