:root {
  --bg-color: white;
  --text-color: black;
  --link-color: #007bff;
  --alt-color: #c5050c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.Head {
  display: flex;  /* Enables horizontal layout */
  gap: 10px; /* Adds spacing between items */
  padding: 10px;
  justify-content: center;
}

.Logo {
  max-height: 100px;
}

.Title {
  position: center;
  text-align: center;
  color: var(--alt-color);
}

.App-header {
  padding: 20px;
  background-color: var(--bg-color);
  text-align: center;
  width: 100%;
}
