:root {
  --bg-color: white;
  --text-color: black;
  --link-color: #007bff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.Title {
  position: center;
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: var(--bg-color);
  text-align: center;
  width: 100%;
}
