.auth-container {
  max-width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  border-radius: 8px;
  max-height: 80vh;
}

.auth-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.auth-container iframe {
  width: 100%;
  padding: 10px;
  margin: auto;
  border-width: 0px;
  height: 70vh;
}

