.auth-container {
  max-width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  border-radius: 8px;
  height: 100%;
}

.auth-container h2 {
  margin-bottom: 10px;
}

.auth-container iframe {
  width: 100%;
  min-height: 800px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 10px;
  border-width: 0px;
}

