.auth-container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container iframe {
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

