.FAQ {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.FAQ h2 {
    text-align: center;
    color: var(--text-color);
}

.FAQ .border {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: var(--bg-color);
    color: var(--text-color);
}

.FAQ .border:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.FAQ button {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    color: var(--link-color);
    font-weight: bold;
    background-color: #f8f9fa;
    padding: 12px;
    border-radius: 5px;
    display: block;
}

.FAQ button:hover {
    text-decoration: underline;
    background-color: #e9ecef;
}

.FAQ .mt-2 {
    padding: 10px;
    background-color: var(--bg-color);
    border-top: 1px solid #ddd;
    color: var(--text-color);
}

.FAQ img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 5px;
}

.faq-content {
    display: table;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}



