* {
    text-align: left;
    overflow: visible;
}

.Home, .Welcome, .Instructions {
    justify-self: left;
    width: 99vw;
}

.Instructions {
    margin-top: 30px;
}

p {
    margin: 0px;
    line-height: 1.2;
}

